<div id="search_course_takens_panel" class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
	<h3 id="search_for_header" class="header ui-accordion-header ui-helper-reset ui-state-active ui-corner-top">
		<span class="ui-icon ui-icon-triangle-1-s"></span>
		<a id="find_course_taken_link" href="#">Find Transcripts</a>
	</h3>
	<div id="search_for_panel" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: block; overflow-x: auto; overflow-y: auto; padding-top: 11px; padding-bottom: 11px;">
		<%= form_for @search, course_takens_path, :method => :get, :remote => true do |f| %>
		<table>
			<tr>
				<td colspan="2">
					<!-- <%= f.submit "Search" %>&nbsp; -->
					<%= search_show_all_button 'course_taken', course_takens_path(:search => {'show_all' => 'true'}) %>&nbsp;
					<!-- <%= new_button new_course_taken_path(:search => params[:search]) %> -->
				</td>
			</tr>
		</table>
		<% end %>
	</div>
</div>

<script>
$(document).ready(function(){	
	$('#course_taken_search input[value="Search"]').click(function() {
		$('#search_show_all').remove();
		
		if (!$('#degree_program_autocomplete').val()) {
			$('#search_degree_program_id_equals').val(null);
		}
	});
	
	$('#course_taken_search').bind('ajax:beforeSend', function() { $('#j-center').empty(); $('#j-search-results').empty(); $('#j-loading').show();} );
	$('#course_taken_search').bind('ajax:complete', function() { $('#j-loading').hide(); });
});
</script>
