      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="2" bgcolor="white"><%= image_tag 'temp_flash.gif' %></td>
        </tr>
        <tr>
          <td width="50%" valign="top">
            <div id="news">
              <h3 class="title">News</h3>
              <ul class="homelist">
                <li>news 1</li>
                <li>news 2</li>
                <li>news 3</li>
                <li>news 4</li>
                <li>news 5</li>
              </ul>
            </div>
          </td>
          <td valign="top">
            <div id="events">
              <h3 class="title">Events</h3>
              <ul class="homelist">
                <li>events 1</li>
                <li>events 2</li>
                <li>events 3</li>
                <li>events 4</li>
                <li>events 5</li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" valign="top">
            <div id="photos">
              <h3 class="title">Photos</h3>
              <ul class="homelist">
                <li>photos 1</li>
                <li>photos 2</li>
                <li>photos 3</li>
                <li>photos 4</li>
                <li>photos 5</li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
